@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gt-super;
  src: url("../fonts/GT-Super/GT-Super-Text-Book-Trial.otf");
}

@font-face {
  font-family: sohne;
  src: url("../fonts/söhne/TestSöhne-Buch.otf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --homepage-main-color: #ffc017
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color: var(--homepage-main-color);
  padding: 25px 18px;
  border-bottom: solid 1px rgb(41, 41, 41);
}

button {
  cursor: pointer;
}

/* Logo */
.logo {
  height: 25px;
}

/* Hero */
.hero-text {
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

.hero-subtext {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
